{% extends "base.html" %}
{% block body %}
  <div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <br/>
          {% if user %}
            <h1 style="text-align:center;">{{ user.username }}</h1>
            <hr class="intro-divider">
            <div class="center">
              <ul>
                <li>Num of games followed: {{ user.games.count() }}</li>
                {% if user.games %}
                  <ul>
                    {% for game in user.games %}
                      <li>
                      <a href="{{ url_for('dashboard.view_game', id=game.id) }}">
                        {{ game.name }}
                      </a>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>The user doesn't follow any game.</p>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
