{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class="intro-header">
    <div class="container content-section ">

      <!-- Header Row -->
      <div class="row">
        <div class="col-md-8">
          <img class="img-responsive img-rounded"
               src="https://placehold.it/900x350" alt="">
        </div>
        <div class="col-md-4">
          <h1>ItalyGames Play</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem
            nisi accusamus error velit animi non ipsa placeat. Recusandae,
            suscipit, soluta quibusdam accusamus a veniam quaerat eveniet
            eligendi dolor consectetur.</p>
          <a class="btn btn-primary btn-lg" href="#">Lorem ipsum</a>
        </div>
      </div>
      <!-- /.row -->
      <hr>

      <!-- Well -->
      <div class="row">
        <div class="col-lg-12">
          <div class="well text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading 1</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem
            nisi accusamus error velit animi non ipsa placeat. Recusandae,
            suscipit, soluta quibusdam accusamus a veniam quaerat eveniet
            eligendi dolor consectetur.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>

        <div class="col-md-4">
          <h2>Heading 2</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem
            nisi accusamus error velit animi non ipsa placeat. Recusandae,
            suscipit, soluta quibusdam accusamus a veniam quaerat eveniet
            eligendi dolor consectetur.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>

        <div class="col-md-4">
          <h2>Heading 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem
            nisi accusamus error velit animi non ipsa placeat. Recusandae,
            suscipit, soluta quibusdam accusamus a veniam quaerat eveniet
            eligendi dolor consectetur.</p>
          <a class="btn btn-default" href="#">More Info</a>
        </div>

      </div>
      <!-- /.row -->
    </div>
  </div>
{% endblock %}
