{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Play</h1>
                    <h3>Gioca insieme a r/italygames</h3>
                    <hr class="intro-divider">
                    <p>Find gamers to play with in 3 steps:</p>
                    <ol>
                        <li>Sign in with Reddit</li>
                        <li>Add your favourite games</li>
                        <li>Get in touch!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
