{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
  Edit Profile
{% endblock %}
{% block body %}
  <div class="content-section">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="center">
            <h1>Edit Profile</h1>
            <br/>
            {{ wtf.quick_form(user_form) }}
            <hr/>
            <h3>Social</h3>
            {{ wtf.quick_form(social_form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
