{% extends "base.html" %}
{% block body %}
  <div class="container intro-header">
    {% if user %}
      <div class="container content-section">
        <div class="row">
          <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-xs-12 col-sm-12">
                  <h1>{{ user.username }}</h1>
                  {% if current_user.bio %}
                  <p><strong>Bio: </strong> {{ current_user.bio }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">
                <hr>
                <div class="col-xs-12 col-sm-4">
                  <h2><strong><a href="{{ url_for('games.filter_by_user', username=user.username) }}">
                      {{ user.games.count() }}</a> </strong></h2>
                  <p>
                    <small>Games followed</small>
                  </p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <!-- TODO: ADD SOCIAL AND GAME LINKS -->
                    <!-- <a href="#" class="btn btn-social-icon btn-reddit">
                      <i class="fa fa-reddit-alien"></i></a>
                    <a href="#" class="btn btn-social-icon btn-steam">
                      <i class="fa fa-steam"></i></a>
                    <a href="#" class="btn btn-social-icon btn-telegram">
                      <i class="fa fa-telegram"></i></a>
                    <a href="#" class="btn btn-social-icon btn-discord">
                      <i class="fa fa-simplybuilt"></i></a> -->
                  {% set socials = current_user.get_socials_dict() %}
                  <dl class="dl-horizontal dl-profile">
                  {% if socials['Telegram'] %}<dt>Telegram</dt><dd>{{ socials['Telegram'] }}</dd>{% endif %}
                  {% if socials['Discord'] %}<dt>Discord</dt><dd>{{ socials['Discord'] }}</dd>{% endif %}
                  {% if socials['Reddit'] %}<dt>Reddit</dt><dd>{{ socials['Reddit'] }}</dd>{% endif %}
                  </dl>
                <p><small>Get in touch</small></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <dl class="dl-horizontal  dl-profile">
                    {% if socials['Steam'] %}<dt>Steam</dt><dd>{{ socials['Steam'] }}</dd>{% endif %}
                    {% if socials['Origin'] %}<dt>Origin</dt><dd>{{ socials['Origin'] }}</dd>{% endif %}
                    {% if socials['Blizzard'] %}<dt>Blizzard</dt><dd>{{ socials['Blizzard'] }}</dd>{% endif %}
                  </dl>
                  <p><small>Play together</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
